#### In this notebook, we're are going to solve the excercises of chapter Two


# Outilne 
- [Exercise 2-1](#1)
- [Exercise 2-2](#2)
    
    
    
    
<br>
    
    
## Exercise 2-1 <a anchor = "anchor" id = "1"/>
Repeating my advice from the previous chapter, whenever you learn a new feature,
you should try it out in interactive mode and make errors on purpose to see what
goes wrong.

-  Weâ€™ve seen that n = 42 is legal. What about 42 = n?

In [1]:
42 = n

SyntaxError: cannot assign to literal (<ipython-input-1-21f6792e2c48>, line 1)

-  How about x = y = 1?

In [2]:
# y = 1 then x = y
x = y = 1

In [5]:
y

1

In [6]:
x

1

-  In some languages every statement ends with a semicolon, ;. What happens if you put a semicolon at the end of a Python statement?

In [7]:
#semi-colons can be used to delimit statements if you wish to put multiple statements on the same line.
x = 5;

In [8]:
x

5

In [10]:
x = 5; y = 10

In [11]:
x

5

In [12]:
y

10

- What if you put a period at the end of a statement?

In [13]:
x = 5.

In [14]:
x

5.0

- In math notation you can multiply x and y like this: xy. What happens if you try that in Python?

In [16]:
x ,y

(5.0, 10)

In [17]:
xy

NameError: name 'xy' is not defined

## Exercise 2-2 <a anchor = "anchor"  id = "2" />

<img src = "https://i.imgur.com/xDsyAfD.png"  width = 700>

In [23]:
#1 

import math 

r = 5


v = 4/3 * math.pi * r**3


print("The volume of shere given raduis = 5 : ", v)

The volume of shere given raduis = 5 :  523.5987755982989

In [47]:
#2
unit_price = 24.95  #the price of signle cover book 
discount = 0.4      #the discount 
shipping_cost = 3
shipping_additional_cost = 0.75   # 1 dollar = 100 cents
copies = 60



shipping_cost = 0.75 * (copies - 1) + 3 


total_price = unit_price * 60 

total_price_wt_dicount = total_price * (1-discount) + shipping_cost


print("The total whole sale: ", round(total_price_wt_dicount,2))

The total whole sale:  945.45